<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Analyzing Image </title>
    <script src="static/js/jquery-3.5.1.min.js">  </script>
</head>
<body>

<!--{% if filename %}-->
<!--	<div>-->
<!--		<img src="{{ url_for('displayImage', filename=filename) }}" height = "500px">-->
<!--	</div>-->
<!--{% endif %}-->

<br>
{% if output %}
	<div>
		<img src="{{ url_for('displayImage', filename=output) }}" height = "500px">
	</div>
{% endif %}

{% if data %}
    <h1> There is data you can use </h1>
{% endif %}

<br>
<br> <a href="/"> Test again? :) </a>
</body>
</html>